.card-container * {
    box-sizing: border-box;
}
.card-container {
    background-image: url("https://www.maxitoys.ru/upload/iblock/38c/nbs08tdrgc5ag40mi6dw1x0nc8hd04if.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 740px;
    overflow: hidden;
    position: relative;
    margin: 20px 0px;
}
.card {
    perspective: 1500px;
    position: absolute;
    left: calc(50% - 175px);
    top: calc(50%- 250px);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: initial;
    transform: rotate(-10deg) translate(0,0);
    animation: cadIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
.card:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 black;
    transition: all 0.5s ease-in-out;
}
.card.is-opened {
    transform: rotate(0deg) translate(175px, 0);
}
.card.is-opened .cart-page-front {
    transform: rotateY(-180deg);
}
@keyframes cardIn{
    0% {
        opacity: 0;
        transform: rotate(-10deg) translate(0, -100%);
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotate(-10deg) translate(0, 0);
    }
}
.card,
.card-page {
    width: 350px;
    height: 500px;
}
.card-page {
    transition: transform 1s ease-in-out;
    cursor: pointer;
    position: absolute;
    outline: 1px solid transparent;
}
.cart-page-front {
    transform-origin: 0 50% 0;
    transform-style: preserve-3d;
    transform: rotateY(-20deg);
    z-index: 2;
}
.cart-page-outside,
.cart-page-inside {
    position: absolute;
    -webkit-backface-visibility: hidden;
}
.cart-page-outside {
    border: 10px solid white;
    background-color: brown;
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
@media (max-width:767px) {
    .card-page-outside {
        border: 5px solid white;
    }
}
.cart-page-inside,
.cart-page-bottom {
    background-color: white;
    background-image: url();
    border: 20px solid white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cart-page-inside{
    transform: rotateY(-180deg);
    border-right: none !important;
    background-position: 0px 80px;
}